<div class="container-fluid">
  <div class="row mx-1 my-4">
    <h2 class="text-left col-sm-12 col-md-9">Resenas Registrados</h2>
    <a class="btn col-sm-12 btn-sm btn-outline-primary col-md-1 my-2" href="/admin/resenas/create" role="button">Crear Resena</a>
  </div>
  <!--Lazy loader-->
  <section class="col-12 loader" [ngClass]="{'ocultar': !flagLoad }">
    <img src="../../../assets/img/loading.gif">
    <h4 class="col-12 text-center header-load">Cargando contenido...</h4>
  </section>
  <table class="table table-striped" [ngClass]="{'ocultar': flagLoad }">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Rating</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let resena of resenas">
      <td>{{ resena.id }}</td>
      <td>{{ resena.descripcion}}</td>
      <td>{{ resena.idUsuario }}</td>
      <td>
        <div class="btn-container">
          <a [routerLink]="['/admin/resenas/lista/', resena.id ]" class="btn btn-info btn-action"><i
                  class="icon ion-md-open"></i></a>
          <a [routerLink]="['/admin/resenas/editar/', resena.id ]"
             class="btn btn-warning btn-action">Editar</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
