<div class="row my-4 mx-4" *ngIf="flagLoad">
  <div class="col-md-6">
    <img class="foto-detalle orange" src = {{multimedia.portada}} width="100%">
  </div>
  <div class="col-md-6">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <br />
      <h4 class="col-md-12"><b>{{ produccion.nombre }}</b></h4>
      <br />
      <a [routerLink]="['/admin/productoras/lista/', produccion.productora ]" class="btn btn-info btn-action"><i
                  class="icon ion-md-open"></i>  Productora</a>
      <b class="col-md-12 text-left">  </b>
      <a [routerLink]="['/admin/multimedia/lista/', produccion.multimedia ]" class="btn btn-info btn-action"><i
                  class="icon ion-md-open"></i>  Multimedia</a>
      <br />
      <br />
      <p class="col-md-12 text-left"><b>Clasificación audiencia: </b> {{ produccion.clasificacionAudiencia }}</p>
      <p class="col-md-12 text-left"><b>Calificación promedio: </b> {{ produccion.calificacionPromedio }}</p>
      <p class="col-md-12 text-left"><b>Link imagen multimedia: </b> {{ multimedia.portada }}</p>
      <p class="col-md-12 text-left"><b></b> {{ produccion.descripcion }}</p>
    </div>
  </div>
</div>
<div class="row justity-content-center mt-4">
  <a routerLink="/admin/producciones/lista/" class="btn btn-warning offset-md-6 col-1">Regresar</a>
</div>
<br>
<br>
<div class="row mt-12">
  <div class="col-md-1"></div>
  <h4><b>Participantes</b></h4>
</div>
<br>
<div class="row mt-12">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <table class="table table-bordered table-striped table-condensed" width="100" style="text-align:center;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actor of staff">
            <td> {{ actor.id }} </td>
            <td> {{ actor.nombre }} </td>
            <td> {{ actor.rol }} </td>
            <td> 
              <a [routerLink]="['/admin/staff/lista/', actor.id ]" >
                <img [src]="actor.foto" height="100px" width="100px"> 
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-md-1"></div>
</div>
