<div class="container-fluid">
  <div class="row mx-1 my-2">
      <h2 class="text-left col-sm-12 col-md-9">Usuarios Registrados</h2>
      <a class="btn col-sm-12 btn-sm btn-outline-primary col-md-1 my-2" href="#" role="button">Crear Usuario</a>
  </div>
  <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <div class="btn-action">
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
</div>

