<section class="container-custom">
  <div class="menu">
    <ul>
      <li>
        <a href="#" class="item-icon link">
        <i class="icon ion-md-tv"></i>
        <span>producciones</span>
        </a>
      </li>
      <li>
        <a href="#" class="item-icon link">
            <i class="icon ion-md-grid"></i>
          <span>parrila</span>
          </a>
      </li>
      <li>
        <a href="#" class="item-icon link">
            <i class="icon ion-md-briefcase"></i>
          <span>productora</span>
        </a>
      </li>
      <li>
          <a routerLink="multimedia/lista" class="item-icon link">
          <i class="icon ion-md-star"></i>
              <span>Multimedia</span>
        </a>
      </li>
      <li>
        <a href="#" class="item-icon link">
            <i class="icon ion-md-bookmarks"></i>
          <span>canales</span>
        </a>
      </li>
      <li>
        <a routerLink="usuario/lista" class="item-icon link">
          <i class="icon ion-md-person"></i>
          <span>usuarios</span>
        </a>
      </li>
      <li>
        <a routerLink="canales/lista" class="item-icon link">
          <i class="icon ion-md-person"></i>
          <span>canales</span>
        </a>
      </li>
      <li>
        <a routerLink="resenas/lista" class="item-icon link">
          <i class="icon ion-md-person"></i>
          <span>resenas</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container-sidebar">
    <router-outlet></router-outlet>
  </div>
</section>



