<div class="container-fluid">
  <div class="row mx-1 my-4">
    <h2 class="text-left col-sm-12 col-md-9">Multimedia Producción</h2>
  </div>
  <section class="col-12 loader" [ngClass]="{'ocultar': !flagLoad }">
    <img class="img-fluid rounded" src="../../../assets/img/loading.gif">
    <h4 class="col-12 text-center header-load">Cargando contenido...</h4>
  </section>
  <section class="container-fluid row" [ngClass]="{'ocultar': flagLoad }" *ngFor="let m of multimedia">
    <div class="col-md-3 col-xs-12">
      <img src="{{m.portada}}" alt="portada">
    </div>
    <div class="col-md-9 row col-xs-12">
      <div *ngFor="let im of m.imagenees" class="col-xs-12 col-md-1">
        <img src="{{im.url}}" class="img-fluid rounded" alt="imagenes">
      </div>
    </div>
    <div class="row">
      <ul *ngFor="let v of m.videos">
        <li><a href="{{ v.url }}">{{ v.url }}</a></li>
      </ul>
    </div>
  </section>
</div>

