<div class="container-fluid">
  <div class="row mx-1 my-5">
    <h2 class="text-left col-sm-12 col-md-9">Multimedia Producción</h2>
    <a class="btn col-sm-12 btn-sm btn-outline-primary col-md-1 my-2" routerLink="/admin/multimedia/create"
       role="button">Crear Contenido</a>
  </div>
  <section class="col-12 loader" [ngClass]="{'ocultar': !flagLoad }">
    <img class="img-fluid rounded" src="../../../assets/img/loading.gif">
    <h4 class="col-12 text-center header-load">Cargando contenido...</h4>
  </section>
  <section class="col-12 row" [ngClass]="{'ocultar': flagLoad }">
    <div class="galeria-contenedor col-md-5 mx-2 my-2 col-xs-12 card text-center" *ngFor="let m of multimedia">
      <div class=" m-1 galeria-contenedor">
        <img src="{{m.portada}}" alt="portada" class="portada">
      </div>
      <div class="col-md-6 row col-xs-12 galeria">
        <div *ngFor="let im of m.imagenes">
          <img *ngIf="im.url.length>0" src="{{im.url}}" class="img-fluid rounded" alt="imagenes">
        </div>
      </div>
    </div>
  </section>
</div>

